@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./base";
@import "./common";
@import "./feature";

theme specific
:root {
  /* Your default theme */
  --background: #FAF5E5;
  --foreground: #201B19;
}

[data-theme='dark'] {
  --background: #000000;
  --foreground: #FFFFFF;
}
