.nav:before {
    clip-path: circle(30px at calc(100% - 50px) 50px);
}

.header.activated {
    .nav:before {
        clip-path: circle(100%);
    }

    .nav-tgl > span {
        height: 0;

        &:after,
        &:before {
            top: 0px;
            left: 0;
            width: 34px;
        }
        &:after {
            transform: rotate(-45deg);
        }
        &:before {
            transform: rotate(45deg);
        }
    }
}

// .nav-tgl:lang(ar) {
//     right: unset;
//     left: 15px;
// }

.nav:lang(ar):before {
    clip-path: circle(30px at 50px 50px);
}
