$light: #faf5e5;
$light-primary: #fa007a;
$light-secondary: #201b19;

$dark: #010400;
$dark-primary: #f9dc4a;
$dark-secondary: #ffffff;

$blue: #35a7ff;
$lapis: #38618c;
$white: #ffffff;
$crayola: #ff5964;
$maize: #ffe74c;
$black: #010400;
